/* Typefaces: PT Sans (bold), PT Serif (regular, italic, bold) — from Google Fonts
Text sizes: 1.5rem, 1.125rem, 0.8rem
Line height: 1.5
Colours: taupe#c9b5ab, rouge#8f2440, noir#222, rougefonce#3f1622 */

h1, h2 {
  color: #3f1622;
}

nav ol > li {
  color: #8f2440;
}

small a {
  color: #8f2440;
}
