html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #222;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

nav ol li {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  list-style-type: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figcaption {
  text-align: center;
  font-family: "PT Serif", serif;
  font-size: .8rem;
  font-style: italic;
}

.numbers {
  font-weight: bold;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
}

blockquote p {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

blockquote cite {
  font-size: .8rem;
}

img {
  width: 100%;
}

#nutritional-information + p {
  font-style: italic;
  font-weight: normal;
}

dt {
  font-weight: bold;
}

ol li {
  list-style-type: lower-greek;
}

ul > li {
  list-style-type: circle;
}

q {
  quotes: "“" "”";
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}
